COMPOSE_PROJECT_NAME=entretiens

ENVIRONNEMENT=development
NIVEAU_LOG=INFO


POSTGRES_DB=entretiens
POSTGRES_USER=entretiens
POSTGRES_PASSWORD=CHANGEZ-MOI-mot-de-passe-base


REDIS_PASSWORD=CHANGEZ-MOI-mot-de-passe-redis


SECRET_KEY=CHANGEZ-MOI-cle-de-signature-jwt-au-moins-32-caracteres
DUREE_JETON_MINUTES=60


ORIGINES_CORS=http://localhost:5173,http://localhost:8080


PORT_API=8000
PORT_WEB=8080
PORT_WEB_DEV=5173
PORT_DB=5432
PORT_REDIS=6379
